/* ChatApp.css */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora&display=swap');
body{
    background-color:  #ffffff !important;
    font-family: 'Sora', sans-serif;
    /* height:100vh; */
    /* width:100%; */
  }
  ::placeholder {
  color: #000000 !important;
  font-family:'Sora', sans-serif ;
  font-weight: 400;
}
  .sidebaropen {
    width: 19%;
    background-color: #02080A;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    word-wrap: break-word; /* Add this line */
}
.chat-title {
  /* padding-left: 50px;
   */
   cursor: pointer;
}
.document-text{
  font-weight: 600;
}
  .sidebarclose{

    width: 19%;
    background-color:#02080A;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    word-wrap: break-word; /* Add this line */

  }
  .chat-app {
      display: flex;
      height:80vh;
      padding-top:7vh ;
      background-color: #ffffff;
      /* padding-left: 40px; */
      /* padding-right: 40px; */
      word-wrap: break-word;
      
    }
    
    
    
    .chat {
      flex: 3;
      display: flex;
      flex-direction: column;
    }
    
    .message-list {
      flex: 1;
      /* padding: 20px; */
   
      margin-top: 30px;

      /* margin-bottom: 20px; */
      /* overflow-y: auto; */
      
    }
    
    .message {
      /* background-color: #f0f0f0; */
      border-radius: 8px;
      /* padding: 10px; */
      /* margin: 5px 0; */
      /* border:1px solid white; */
      /* background-color: #ffffff; */
    

     
    }
    
    .timestamp {
      font-size: 0.8em;
      color: gray;
    }
    
    .user-input {
      display: flex;
      gap:20px;
      align-items: center;
  
      padding: 10px;
      margin-left: 21%;
      padding-left: 5%;
      padding-right: 8%;
      /* margin: 10px auto; */
      /* margin-left: 10px; */
      /* margin-right: 20px !important; */
      /* width: 80%;  */
      /* width: 100%; */
      /* margin: 10px auto; */

    }
   
    
    input[type="text"] {
      flex: 1;
      padding: 15px;
      border: 1px solid #EBEBEB;
      border-radius: 8px;
      background-color: #EBEBEB;
  
      /* margin: 10px auto; */
      /* margin-right: 10px; */
    }
    
    button {
      background-color:#0B303B;
      color: white;
      border: none;
      border-radius: 8px;
      padding: 15px;
      cursor: pointer;
    }
    .button:active {
      background-color: red !important;/* Your desired background color */;
    }
    
    /* button:hover {
      background-color: #0056b3;
    } */
    .message-list {
      flex: 1;
      /* padding: 20px; */
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      margin-left:18% ; 
      /* margin-right: 2%;Ensures messages stack vertically */
    }
    
    .message {
      /* background-color: #f0f0f0; */
      /* justify-content: center; */
      /* align-items: center; */
      /* text-align: center; */
      border-radius: 8px;
      /* padding: 10px; */
      /* margin: 10px 0px; */
      /* margin-left: 10px; */
      /* margin-right: 20px !important; */
      width: 100%; /* Makes each message div 100% width */
      word-wrap: break-word; /* Allows text to wrap within the div */
    }
    
    .timestamp {
      font-size: 0.8em;
      color: gray;
    }
    /* Using CSS Grid: */
    
    css
    Copy code
    /* ChatApp.css */
    
    .message-list {
      flex: 1;
      /* padding: 20px; */
      overflow-y: scroll; /* Use "scroll" instead of "auto" to hide the scrollbar */
      display: flex;
      flex-direction: column;
      gap:10px;
    }
    
    
    .message-list::-webkit-scrollbar {
      display: none; /* Hide the scrollbar in Webkit browsers (Chrome, Safari, etc.) */
    }
    
    /* For Firefox */
    .message-list {
      scrollbar-width: none; /* Hide the scrollbar in Firefox */
    }
    
    .timestamp {
      font-size: 0.8em;
      color: gray;
    }
  
    .navbar {
      position: fixed !important;
      top: 0;
      left: 0;
      width: 100%;
      /* height: 8vh; */
      background-color:#FAFAFA;
      color: black;
      /* padding: 10px 10px !important; */
      /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); */
      z-index: 100; /* Ensure the navbar is above other elements */
      /* text-align: center; */
      /* color: pink; */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: 0 0.15px 0 0 #21261B;
      /* border-bottom: 0.1px solid #21261B; */
      
     height:6vh;
      /* padding-left: 20px; */
    }
    .navbar-focused {
      background-color: #555; /* Change the background color when focused */
      /* transition: background-color 0.3s ease; Add a smooth transition effect */
      position: fixed;
    }
   
    .chat-parent-div{
      display: flex;
      flex-direction: row;
      gap:10px;
      color: black;
      padding-left: 10px;
      /* border:1px solid blue; */
    }
    .clear-chat-parent-div{
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding-right:10px ;
      
      /* border:1px solid blue; */
    }
    .new-chat-div{
      border:1px solid #CED6D8;
      color: #0B303B;
      background-color: #CED6D8;
      border-radius: 10px;
      /* padding: 10px; */
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
    
    }
    .user-parent-div{
      display: flex;
      flex-direction: row;
      /* gap:40px; */
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color:#FAFAFA ;
      /* border:1px solid blue; */
    }
    .user-parent-output-div{
      display: flex;
      flex-direction: row;
      /* gap:40px; */
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid rgb(247,247,248);
      border-bottom: 1px solid rgb(247,247,248);
      background-color:  #EBEBEB;
      /* border:1px solid blue; */
    }
    .user-timestamp-parent-div{
      display:flex;
      flex-direction:column;
      gap:5px;
    }
    .user-timestamp-parent-div-two{
      display:flex;
      flex-direction:column;
      gap:5px;
  
    }
    .user-name-div{
      font-size: 10px;
      font-weight: 400;
      color: black;
      border:1px solid #F0F0F0;
      background-color:#F0F0F0;
      border-radius: 5px;
      text-align: center;
      padding:8px;
    }
    .user-time-div{
      font-size: 0.6em;
      color: #818181;
     
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden; /* Hide overflow content if it doesn't fit */
        text-overflow: ellipsis; /* Show ellipsis (...) if text overflows */
        /* Add any additional styles you want */
      
      
    }
    .chatbot-name-div{
      font-size: 10px;
      font-weight: 400;
      color: black;
      border:1px solid #3E4733;
      background-color:#3E4733;
      border-radius: 5px;
      text-align: center;
      padding:8px;
      color:white;
    }
    .chatbot-time-div{
      font-size: 0.6em;
      color: #818181;
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden; /* Hide overflow content if it doesn't fit */
      text-overflow: ellipsis;
    }
    .user-question-div{
      font-size: 1.2em;
      color: black;
      padding-left: 50px;
    }
    .chatbot-output-div{
      font-size: 1.2em;
      color: black;
      padding-left: 50px;
    }
    .chat-name-div{
      /* border:1px solid pink; */
      background-color: pink;
      border-radius: 8px;
     padding-left: 8px;
      padding-right: 8px;
      color:rgb(240, 58, 88);
      text-align: center;
    }
    /* Add this to your existing CSS for sidebar styling */
.sidebar-content {
  padding-top: 100px;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  background-color:#02080A;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: thin; /* "thin" is a smaller scrollbar width */
  scrollbar-color:  #333; 
}

.sidebar-content::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

/* Style the custom scrollbar thumb (optional) */
.sidebar-content::-webkit-scrollbar-thumb {
  background: transparent; /* Make the thumb transparent */
}

/* Style the custom scrollbar thumb on hover (optional) */
.sidebar-content::-webkit-scrollbar-thumb:hover {
  background: transparent; /* Add a hover effect (change the color) */
}
.sidebaropen::-webkit-scrollbar {
  display: none !important; /* Hide the scrollbar in Webkit browsers (Chrome, Safari, etc.) */
}
.question {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.question:hover {
  background-color: #555; /* Change color on hover */
}

/* Add this to your existing CSS */
.toggle-sidebar-button {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 101; /* Ensure it's above the sidebar */
}

.toggle-sidebar-button.open {
  transform: rotate(180deg); /* Rotate the button when the sidebar is open */
}
/* .sidebar-content ul li{
  list-style-type: square;
  
} */

/* .chat-first-inner-parent-div{
 display:flex;
 flex-direction:row;
 gap:10px;
 display:block;
} */
/* .input:focus{
  border:none !important;
  outline:none !important
} */
.sidebar-content {
  list-style-type: none; /* Remove default list style */
  /* padding-left: 20px; Adjust the left padding to create space for the bullet marker */
}
.sidebar-content ul li {
  list-style-type: none;
}
.sidebar-content  li:before {
  content: "•"; 
  margin-right: 10px;/* Add a bullet-like marker */
  /* margin-right: 10px; Adjust the spacing between the marker and the list item text */
}

.nav-topsec{
  justify-content: center;
}

    @media (max-width: 400px) {
      .message {
        max-width: 100%; /* Set a maximum width for messages on smaller screens */
      }
      .navbar {
        width: 100%;
      }
  
    }


    @media (max-width: 767px) {
      .nav-topsec{
        justify-content: space-between;
      }
      
      .chat-title {
        padding-left: 0px;
      }
      .sidebaropen {
        display: none;
         /* Hide the sidebar completely on mobile screens */
      }

      .sidebaropen {
        width: 10%;
        background-color: #02080A;
        color: white;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        word-wrap: break-word; /* Add this line */
    }
      .sidebarclose{
    

        margin-top: 0px;
        width: 80%;
        background-color: #02080A;
        color: white;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        word-wrap: break-word; 
        z-index: 100;/* Add this line */
    
      }
      .sidebaropen::-webkit-scrollbar {
        display: none !important; /* Hide the scrollbar in Webkit browsers (Chrome, Safari, etc.) */
      }

      .sidebarclose::-webkit-scrollbar {
        display: none !important; /* Hide the scrollbar in Webkit browsers (Chrome, Safari, etc.) */
      }


      .hamburger-icon{
        display: block;
      }

      .user-input {
        display: flex;
        align-items: center;
        padding: 10px;

        margin-left: 0%;
        
        /* margin-left: 0%; */
     

  
      }

      .message-list {
        flex: 1;
        /* padding: 20px; */
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        margin-left:0% !important ;
        /* margin-right: 2%; Ensures messages stack vertically */
      }
      .hamburgerdisappearingicon{
        display:block;
      }
      .sidebar-content {
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        background-color:#02080A;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        scrollbar-width: thin; /* "thin" is a smaller scrollbar width */
        scrollbar-color:  #333; 
      }
      .chat-app {
        display: flex;
        height:80vh;
        padding-top:8vh ;
        background-color: #ffffff;
        /* padding-left: 20px; */
        /* padding-right: 20px; */
        word-wrap: break-word;
        
      }
      .button:active{
        background-color: red !important;
      }
      .inner-chat-paarent-div{
        display: none !important;
      }
      
    }

    @media (min-width: 767px) {
      .sidebaropen {
        left: 0; /* Display the sidebar on the left side of the screen */
        display: block;
       
       /* Ensure the sidebar is visible on desktop screens */
      }
    .hamburger-icon{
      display: none;
    }
    .hamburgerdisappearingicon{
      display:none;
    }
    .sidebaropen::-webkit-scrollbar {
      display: none !important; /* Hide the scrollbar in Webkit browsers (Chrome, Safari, etc.) */
    }

    .sidebarclose::-webkit-scrollbar {
      display: none !important; /* Hide the scrollbar in Webkit browsers (Chrome, Safari, etc.) */
    }

    .hamburger-icon{
          cursor:pointer;
    }
    .new-chat-div{
      cursor: pointer;
    }
   
    }
    
    
    
    
    